
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Inter", sans-serif;
    --animate-appear: appear 300ms ease-in;
    --breakpoint-xs: 320px;
    @keyframes appear{
        0% { transform: translateY(60px); opacity: 0; }
        100% { transform: translateY(0); opacity: 1; }
    }
}

*{
    @apply font-poppins !scroll-smooth;
}

.obsAppear.appear{
    @apply opacity-100 ease-in;
}

